[run]
branch = False

include =
          *server/favoureat*

omit =
       *__init__*
       *server/migrations*
       *server/favoureat/tests*
       *server/favoureat/admin*
       *server/favoureat/apps*
